numpy
pandas
tqdm
pyyaml
opencv-python-headless
pillow
scikit-learn
scipy
matplotlib
jsonlines
transformers
accelerate
sentencepiece
torch
torchvision
open_clip_torch
diffusers
safetensors
sentence-transformers
scenedetect
decord
supervision
huggingface_hub
